{% extends './base.html' %}
{% block title %}Ejemplo3 {% endblock %}
{% block body %}

<!-- Contenedor principal -->
    <!-- Div centrado con color llamativo y título -->
    <div class="text-center bg-primary text-white  ">
            <!-- Reducir el tamaño del título al 50% -->
            <h1 class="display-5">Ejemplo 3 Agrupación</h1>
    </div>
 <div class="row">
     <div class="col-sm-12">
         <table id="table_id" class="display" style="width:100%">
             <thead>

             <tr>
                 <th>Brands</th>
                  <th>Products</th>
                  <th>Stock</th>

             </tr>
             </thead>
             {% for row in productbrands %}
             <tr>
                 <td>{{ row.Brand   }}</td>
                 <td>{{ row.Product  }}</td>
                 <td>{{ row.Stock  }}</td>

             </tr>
             {% endfor %}

         </table>

            </div>
     </div>
<script>
    $(document)
    .ready(function () {
        $('#table_id')
        .DataTable({
            order:[
                [0,'asc']
            ],
            rowGroup:{
                dataSrc: [0],
                endRender :function (rows, group){
                    var total =
                        rows
                            .data()
                            .pluck(2)
                            .reduce(function (a,b){
                                return a + b.replace(/[^\d]/g,'') * 1;
                            },0);
                   return (
                        'Total : ' + DataTable.render.number(null,null,0,'').display(total)
                    );
                }
            },
            columnDefs: [
            {
                targets:[0],
                visible:false
                }
            ]
        }
      );
    });
</script>

{% endblock %}